<br>
<div class="container">
<div class="card">

    <div class="container text-center">
        <div class="container text-center">
            <br><h1> <p>Editar Reboque</p> </h1><br>
        </div>
         <form action="/editar_reboque" method="POST">
            <div class="container">
                
                <input type="hidden" name="idReboque" value="{{dataValues.idReboque}}">

                <div class="form-floating mb-3">
                    <input type="text" name="modelo" class="form-control" id="modelo" placeholder="modelo" value="{{dataValues.modelo}}" >
                    <label for="floatingInput">Modelo </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="placa" class="form-control" id="placa" placeholder="placa" value="{{dataValues.placa}}" >
                    <label for="floatingInput">Placa</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="cor" class="form-control" id="cor" placeholder="cor" value="{{dataValues.cor}}" >
                    <label for="floatingInput">Cor</label>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" name="valor" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Preço da diária" min="1" value="{{dataValues.valor}}" required >
                    <span class="input-group-text">.00</span>
                </div>

                <br><button type="submit" class="btn btn-outline-primary">Editar Reboque</button><br>{{msgErro}}<br> 
                
            </div>
        </form>
                <a href="/mostrar_reboque"><button class="btn btn-outline-primary">Ir para reboques</button></a>
                <a href="/mostrar_cliente"><button class="btn btn-outline-primary">Ir para clientes</button></a>
                <a href="/"><button class="btn btn-outline-primary" >Página Inicial</button></a><br><br>
    </div>
    
</div>
</div>
